@{
    ViewData["Title"] = "OxiRNA";
}

<div class="main_container">
    <div>
        <tspan class="title">OxiRNA</tspan>
    </div>
    <div>
        <tspan class="subtitle">Baza danych oksydowanych RNA</tspan>
    </div>
    <div>
       <form id="form1" method="post" action="Home/SearchResults">
        <div>
            <input class="textInput" name="SimpleSearchInput" type="text" />
        </div>
        <div>
            <input class="searchButton" type="submit" value="SEARCH" />
        </div>
        </form>
    </div>
</div>
