@{
    ViewData["Title"] = "Login";
}

<div class="main_container">
    <form id="form1" method="post" action="/AdminPanel/Validate" enctype="application/x-www-form-urlencoded">
        <div>
            <input class="textInput" name="email" type="text" />
            <input class="textInput" name="password" type="password" />
        </div>
         <div>
            <input class="searchButton" type="submit" value="LOG IN" />
        </div>
    </form>
   
   
</div>