@{
    ViewData["Title"] = "OxiRNA";
}

<div class="main_container">
    <div>
        <tspan class="title">Failed to submit</tspan>
    </div>
    <div>
        <tspan class="subtitle">Sequence with this genbank id is already in OxiRNA data base!</tspan>
    </div>
</div>
