@{
    ViewData["Title"] = "OxiRNA";
}

<div class="main_container">
    <div>
        <tspan class="title">Submitted successfully</tspan>
    </div>
    <div>
        <tspan class="subtitle">Your submission will be reviewed and put into the database as soon as possible.</tspan>
    </div>
</div>
